{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login app</title>

    <link href="{% static '/css/style.css' %}"  rel="stylesheet">
</head>
<body>
    
    <div class="topo"><h1>CXINFRA</h1></div>
<section class='form-conatiner'>
    
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
         
            
         
                <label for="id_username">Usuário:</label>
                <input type="text" id="id_username" autofocus autocomplete="username" required name='username' placeholder="username">
         
         

        
                <label for="id_password">Senha:</label>
                <input type="password" id='id_password' required autocomplete="current-password" placeholder="senha">
                
                    {# Assumes you setup the password_reset view in your URLconf #}
                   <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    
           


        
        
    </form>

</section>








</body>
</html>